# Always required
OPENAI_API_KEY="Ollama"
OPENAI_URL="http://host.docker.internal:11434/v1"
OPENAI_MODEL="gpt-oss:120b-cloud"

# Only needed for development
# NEXT_PUBLIC_URL=
# NEXT_PUBLIC_API_URL=
# DATABASE_URL=
